<% provide(:title, 'Contact') %>

<h1 class="page-title">Contact</h1>
<section class="main">
  <dl>
    <dt>Rails App</dt>
      <dd>
        <p>
          Contact Ruby on Rails Tutorial about the sample app at the
          <a href="http://railstutorial.org/contact">contact page</a>.
        </p>
      </dd>
  </dl>
</section>